.gradient-blue-purple {
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
}

.gradient-green-dark {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(87, 195, 155, 1) 0%, rgba(155, 218, 71, 0.66) 76.9%);
}

.circle-image-border {
    border-radius: 50%;
    border: 3px solid black;
}

.circle-image {
    border-radius: 50%;
}